.candidate-main{
    margin: 20px;
    width: 100%;
    background-color: aliceblue;
    border-radius: 5px;
}

.candidate-name{
    font-size: xxx-large;
    font-weight: 600;
    color: #397367;
}
.candidate-email{
    color: #42858C;
}
.candidate-job{
    font-size: x-large;
    font-weight: 600;
    color: #63CCCA;
}
.cv-button{
    background-color: #42858C;
    border: none;
}
@media (max-width:768px) {
    .candidate-data{
      font-size: 14px;
    }
    .candidate-name{
        font-size: x-large;

    }
    .candidate-job{
        font-size: 16px;
     
    }
    .candidate-email{
    font-size: 12px;
    }

}
