#whatsapp{
    height: 20px;
    width: 20px;
   background-color: rgba(172, 255, 47, 0.473);
    border-radius: 10px;
    font-size: 25px;
}

#face{
    height: 20px;
    width: 20px;
    color: blue;
    border-radius: 10px;
    font-size: 25px;
}

#insta{
    height: 20px;
    width: 20px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    font-size: 25px;
    border-radius: 10px;
}

#foot{
    color: black;
    background-color:--color-background-canvas!important;
}
#employe{
    text-decoration: none;
    color: white;
   
}
#employe-font:hover{
    color: blue;
}
#employe-font{
    font-size: 20px;
    color: black;
    background-color: rgba(255, 255, 255, 0);
}