*{
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.image{
    width: 100%;
    height: 600px;
    /* background-position: center; */
    background-size: cover ;

    background-image: url(../assets/Images/hmebg.png);

}
.headersec{
    padding: 5%;
}
.hearderword{
    width: 50%;
    color: white;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 600;
}
.hearderwords{
    width: 50%;
    text-align: center;
    font-size: 1.8rem;
  
    color: whitesmoke;
}