
.testtitle{
  color: #222;
  font-size: 2.7em;
}
.testmain{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.reviewname{
  color: blue;
  font-size: 1.75rem;
}
.contents{
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 0px rgba(168, 153, 168, 1);
}
.imagedata{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviewername{
  color: whitesmoke;
  font-size: 6.75rem;
}
.item{
 display: flex;
 flex-direction: column;
 align-items: center;

}
@media (max-width:768px) {
  .testmain{
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }
}




